<%= javascript_tag do %>
  var _recurly_config = <%= {
    subdomain: Monthly::Config::RECURLY_SUBDOMAIN,
    currency: 'USD',
    country: 'US'
  }.to_json.html_safe %>

  <% form_data =  {
    target: "#recurly-update-billing-info",
    accountCode: current_user.recurly_code,
    distinguishContactFromBillingInfo: false,
    enableCoupons: false,
    addressRequirement: 'none',
    successURL: ms_url(callback_billing_info_path),
    account: {
      firstName: @account.first_name || "",
      lastName: @account.last_name || "",
      email: @account.email || "",
      companyName: @account.company_name || ""
    },
    signature: Recurly.js.sign(account: { account_code: current_user.recurly_code })

    # Signature must be generated server-side with a utility method provided in client libraries.
    # e.g. Recurly::billing_info_signature(accountcode)
    # It guarantees that you grant the end-user the right to update billing info for this account
    # Without it the request will be rejected.
    # The example signature only works for recurlyjsdemo-test
  } %>

  <%
    if @account.billing_info
      form_data[:billingInfo] = {
        firstName: @account.billing_info.first_name,
        lastName: @account.billing_info.last_name,
        address1: @account.billing_info.address1,
        address2: @account.billing_info.address2,
        city: @account.billing_info.city,
        zip: @account.billing_info.zip,
        state: @account.billing_info.state,
        country: @account.billing_info.country
        # We will show these when we have https enabled
        # cardNumber: '4111-1111-1111-1111'
        # CVV: '123'
      }
    end
  %>

  var _recurly_billing_info_update_form = <%= form_data.to_json.html_safe %>

<% end %>

<%= render partial: 'shared/settings_navigation' %>

<section class="content">
  <hgroup class="main">
    <h1>Billing Information</h1>
    <h2 class="breadcrumb"><%= breadcrumbs_for(:my_settings_section, 'Billing Information') %></h2>
  </hgroup>

  <div id="recurly-update-billing-info"></div>
</section>
