<section class="as-seen-on">
  <h1>As seen on:</h1>
  <ul>
    <li><%= link_to(image_tag('content/press-logos/cnn.png', :alt => "CNN"), "#", :title => "CNN") %></li>
    <li><%= link_to(image_tag('content/press-logos/the-new-york-times.png', :alt => "The New York Times"), "#", :title => "The New York Times") %></li>
    <li><%= link_to(image_tag('content/press-logos/bbc.png', :alt => "BBC"), "#", :title => "BBC") %></li>
    <li><%= link_to(image_tag('content/press-logos/forbes.png', :alt => "Forbes"), "#", :title => "Forbes") %></li>
    <li><%= link_to(image_tag('content/press-logos/the-wall-street-journal.png', :alt => "The Wall Stree Journal"), "#", :title => "The Wall Stree Journal") %></li>
    <li><%= link_to(image_tag('content/press-logos/nbc.png', :alt => "NBC"), "#", :title => "NBC") %></li>
  </ul>
</section>
