<% content_for(:title) { 'Change Password' } %>

<%= render partial: 'shared/settings_navigation' %>

<section class="content">
  <hgroup class="main">
    <h1>Password</h1>
    <h2 class="breadcrumb"><%= breadcrumbs_for(:my_settings_section, 'Password') %></h2>
  </hgroup>

  <%= form_for(@user, url: ms_path(update_password_settings_path), html: { method: :put, class: 'settings-form' }) do |f| %>

    <%= error_messages_for(@user) %>

    <% if current_user.has_password? %>
      <div class="field">
        <p>
          <%= f.label :current_password, 'Current Password', class: 'title' %>
          <%= f.password_field :current_password %>
        </p>
      </div>
    <% end %>

    <div class="field">
      <p>
        <%= f.label :password, "New Password", class: 'title' %>
        <%= f.password_field :password %>
      </p>
    </div>

    <div class="field confirm_password">
      <p>
        <%= f.label :password_confirmation, 'Confirm New Password', class: 'title' %>
        <%= f.password_field :password_confirmation %>
      </p>
    </div>

    <div class="field submit">
      <p>
        <span>
          <%= link_to 'Disable my account', inactivate_user_registrations_path, confirm: 'Are you sure?', method: :put %>
        </span>
        <%= f.submit 'Update', class: 'btn secondary' %>
      </p>
    </div>
  <% end %>
</section>

<% content_for :javascript do %>
  <%= requirejs('settings/edit'); %>
<% end %>
