<ul class="navigation">
  <li><%= link_to "Home", root_path, :class => "home" %></li>
  <li><%= link_to "What is Monthlys", what_is_monthlys_path, :class => "what-is-monthlys" %></li>
  <li><%= link_to "Why Subscriptions", why_monthlys_path, :class => "why-subscriptions" %></li>
  <li><%= link_to "Fair Cost & Quality", quality_path, :class => "fair-cost" %></li>
  <li><%= link_to "Our Guarantee", guarantee_path, :class => "our-guarantee" %></li>
  <!--<li><%= link_to "Vouchers", terms_of_service_path, :class => "vouchers" %></li>-->
  <li><%= link_to "Terms & Conditions", terms_of_service_path, :class => "terms-and-conditions" %></li>
  <li><%= link_to "Affiliate Program", affiliate_program_path, :class => "affiliate-program" %></li>
  <li><%= link_to "Privacy Policy", privacy_policy_path, :class => "privacy-policy" %></li>
  <li><%= link_to "Contact Us", contact_path, :class => "contact-us" %></li>
  <li><%= link_to "Jobs", jobs_path, :class => "jobs" %></li>
  <li><%= link_to "Feedback", record_path, :class => "feedback" %></li>
  <!--<li><%= link_to "Frequently Asked", terms_of_service_path, :class => "frequently-asked-questions" %></li>-->
</ul>
