<section class="plans">
  <h1>Choose from over 100 product clubs on Monthlys</h1>
  <p>Expertly curated goods and services at your doorstep.</p>
  <p>Turn them on or off with the flip of a switch.</p>

  <div class="wrapper">
    <%= link_to plan_path(102) do %>
    <article class="selected">
      <%= image_tag 'home/plan102.png' %>
      <div class="box">
        <span class="get">Get</span>
        <h1>Mama's Nuts</h1>
        <p>You've never had nuts like these before. They're incredible!</p>
        <p class="price">$10.00 per month!<span class="arrow"></span></p>
      </div>
    </article>
    <% end %>
    <%= link_to plan_path(69) do %>
    <article>
      <%= image_tag 'home/plan2.png' %>
      <div class="box">
        <span class="get">Get</span>
        <h1>Just the Right Book</h1>
        <p>One new book each month from Just the Right Book.</p>
        <p class="price">$12.99 per month!<span class="arrow"></span></p>
      </div>
    </article>
    <% end %>
    <%= link_to plan_path(32) do %>
    <article>
      <%= image_tag 'home/plan3.png' %>
      <div class="box">
        <span class="get">Get</span>
        <h1>Tiesta Tea</h1>
        <p>Seasonal blends good for hot or iced. Unique as can be.</p>
        <p class="price">$20.00 per month!<span class="arrow"></span></p>
      </div>
    </article>
    <% end %>
    <%= link_to plan_path(129) do %>
    <article>
      <%= image_tag 'home/plan4.png' %>
      <div class="box">
        <span class="get">Get</span>
        <h1>Mancave Candles</h1>
        <p>The Man Cave Candle is a collection designed for men, by men.</p>
        <p class="price">$16.95 per month!<span class="arrow"></span></p>
      </div>
    </article>
    <% end %>
     <%= link_to plan_path(95) do %>
    <article>
      <%= image_tag 'home/plan95.png' %>
      <div class="box">
        <span class="get">Get</span>
        <h1>SallyAnder Soaps</h1>
        <p>Join a soap of the month club! What a wonderful idea.</p>
        <p class="price">$12.95 per month!<span class="arrow"></span></p>
      </div>
    </article>
    <% end %>
     <%= link_to plan_path(80) do %>
    <article>
      <%= image_tag 'home/plan80.png' %>
      <div class="box">
        <span class="get">Get</span>
        <h1>Shaving Supplies</h1>
        <p>Get a deal on shaving supplies from Razors Direct and clean up nice.</p>
        <p class="price">From $13.49 per month!<span class="arrow"></span></p>
      </div>
    </article>
    <% end %>
    <%= link_to plan_path(29) do %>
    <article>
      <%= image_tag 'home/plan29.png' %>
      <div class="box">
        <span class="get">Get</span>
        <h1>Coffee of the Month</h1>
        <p>Amazing coffee from exotic locations around the world. Try something new.</p>
        <p class="price">From $25.00 per month!<span class="arrow"></span></p>
      </div>
    </article>
    <% end %>
    <ul class="nav">
      <li class="selected">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
    </ul>
  </div>
</section>

<section class="quality">
  <div class="wrapper">
    <h1>Rely on Monthlys for quality and great prices</h1>
    <p>Our partners are chosen based on their offering and attention to detail</p>
    <ul>
      <li class="quality-control">
        <h2>Quality Control</h2>
        <p>We work closely with our merchants to ensure that quality products arrive at your door in quality packaging, and that services are rendered to the best of their ability.</p>
      </li>
      <li class="fair-cost">
        <h2>Fair Cost</h2>
        <p>We always look for a bargain and love passing that savings onto our customers. Look for great deals on exclusive subscriptions you can't find anywhere else.</p>
      </li>
      <li class="merchant-reviews">
        <h2>Merchant Reviews</h2>
        <p>We only work with merchants who have credible reputations for delivering quality goods, on time, in an organized fashion. It's no joke.</p>
      </li>
    </ul>
  </div>
</section>

<section class="preferences">
  <div class="wrapper">
    <h1>Also set your preferences <span class="and">and</span> find cool subscriptions...</h1>
    <p>Let us know what products and services better suit your lifestyle and help us make better recommendations for you!</p>
    <ul>
      <li class="consumables">
        <h2>Consumables</h2>
        <ul>
          <li>Food and Snacks</li>
          <li>Coffee and Teas</li>
          <li class="selected">Specialty Items</li>
          <li>Alcoholic Beverage</li>
          <li class="selected">Gourmet</li>
        </ul>
      </li>
      <li class="products">
        <h2>Products</h2>
        <ul>
          <li class="selected">Accessories</li>
          <li>Clothing</li>
          <li class="selected">Shoes</li>
          <li class="selected">Personal Care</li>
          <li>Beauty</li>
        </ul>
      </li>
      <li class="services">
        <h2>Services</h2>
        <ul>
          <li>Landscaping</li>
          <li class="selected">Cleaning</li>
          <li>Therapy Services</li>
          <li>Pet Service</li>
          <li class="selected">Training</li>
          <li>Educational</li>
        </ul>
      </li>
      <li class="memberships">
        <h2>Memberships</h2>
        <ul>
          <li class="selected">Tanning</li>
          <li>Club or Gym</li>
          <li>Training Center</li>
          <li>Education Center</li>
          <li>Pet Center</li>
          <li>Tutoring</li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<% content_for(:javascript) do %>
  <%= requirejs('pages/home') %>
<% end %>
