<% content_for(:title) { 'How it works' } %>

<section class="video">
  <h1>Find niceties and make life super awesome</h1>
  <p>Explore local, curated product clubs and valet services - exclusively on Monthlys.com.</p>
  <p>Turn them on or off with the flip of a switch.</p>

  <div class="frame">
    <%= image_tag 'how-it-works/video.png' %>
  </div>
</section>

<section class="allyouneed">
  <h1>Here's all you need to get started...</h1>
  <ul>
    <li class="selected"><a href="#allyouneed-step1">Like it? Flip it on</a></li>
    <li><a href="#allyouneed-step2">Pick your plan</a></li>
    <li><a href="#allyouneed-step3">Enjoy!</a></li>
  </ul>
  <div class="figures">
    <figure id="#allyouneed-step1" class="step">
      <%= image_tag 'how-it-works/allyouneed-step1.png' %>
    </figure>
    <figure id="#allyouneed-step2" class="step">
      <%= image_tag 'how-it-works/allyouneed-step2.png' %>
    </figure>
    <figure id="#allyouneed-step3" class="step">
      <%= image_tag 'how-it-works/allyouneed-step3.png' %>
    </figure>
  </div>
</section>

<section class="preferences">
  <br />
  <h1>Also set your preferences <span class="and">and</span> find cool subscriptions...</h1>
  <p>Let us know what products and services better suit your lifestyle and help us make better recommendations for you!</p>

  <div class="wrapper">
    <div class="categories">
      <section>
        <h1>Consumables</h1>
        <ul>
          <li id="food">Food and Snacks</li>
          <li id="coffee" class="selected">Coffee and Tea</li>
          <li id="pasta">Specialty Goods</li>
          <li id="alcholic-beverage" class="selected">Alcoholic Beverage</li>
          <li id="gourmet">Gourmet</li>
        </ul>
      </section>
      <section>
        <h1>Products</h1>
        <ul>
          <li id="accessories">Accessories</li>
          <li id="clothing" class="selected">Clothing</li>
          <li id="shoes">Shoes</li>
          <li id="personal-care">Personal Care</li>
          <li id="beauty">Beauty</li>
        </ul>
      </section>
      <section>
        <h1>Services</h1>
        <ul>
          <li id="landscaping">Landscaping</li>
          <li id="cleaning" class="selected">Cleaning</li>
          <li id="massage">Therapy</li>
          <li id="pet-service" class="selected">Pet Service</li>
          <li id="training" class="selected">Training</li>
          <li id="educational">Educational</li>
        </ul>
      </section>
      <section>
        <h1>Memberships</h1>
        <ul>
          <li id="tanning">Tanning</li>
          <li id="gym" class="selected">Club or Gym</li>
          <li id="training-center" class="selected">Training Center</li>
          <li id="education-center">Education Center</li>
          <li id="entertainment">Entertainment</li>
          <li id="tutoring">Tutoring</li>
        </ul>
      </section>
    </div>
    <div class="showcase">
      <article id="food">
        <%= image_tag 'how-it-works/plans/food.jpg' %>
      </article>
      <article id="coffee">
        <%= image_tag 'how-it-works/plans/coffee.jpg' %>
      </article>
      <article id="pasta">
        <%= image_tag 'how-it-works/plans/pasta.jpg' %>
      </article>
      <article id="alcholic-beverage">
        <%= image_tag 'how-it-works/plans/alcoholic-beverage.jpg' %>
      </article>
      <article id="gourmet">
        <%= image_tag 'how-it-works/plans/gourmet.jpg' %>
      </article>
      <article id="accessories">
        <%= image_tag 'how-it-works/plans/accessories.jpg' %>
      </article>
      <article id="clothing">
        <%= image_tag 'how-it-works/plans/clothing.jpg' %>
      </article>
      <article id="shoes">
        <%= image_tag 'how-it-works/plans/shoes.jpg' %>
      </article>
      <article id="personal-care">
        <%= image_tag 'how-it-works/plans/personal-care.jpg' %>
      </article>
      <article id="beauty">
        <%= image_tag 'how-it-works/plans/beauty.jpg' %>
      </article>
      <article id="landscaping">
        <%= image_tag 'how-it-works/plans/landscaping.png' %>
      </article>
      <article id="cleaning">
        <%= image_tag 'how-it-works/plans/cleaning.jpg' %>
      </article>
      <article id="massage">
        <%= image_tag 'how-it-works/plans/massage.jpg' %>
      </article>
      <article id="pet-service">
        <%= image_tag 'how-it-works/plans/pet-service.jpg' %>
      </article>
      <article id="training">
        <%= image_tag 'how-it-works/plans/training.jpg' %>
      </article>
      <article id="educational">
        <%= image_tag 'how-it-works/plans/educational.jpg' %>
      </article>
      <article id="tanning">
        <%= image_tag 'how-it-works/plans/tanning.jpg' %>
      </article>
      <article id="gym">
        <%= image_tag 'how-it-works/plans/gym.jpg' %>
      </article>
      <article id="training-center">
        <%= image_tag 'how-it-works/plans/training-center.jpg' %>
      </article>
      <article id="education-center">
        <%= image_tag 'how-it-works/plans/education-center.jpg' %>
      </article>
      <article id="entertainment">
        <%= image_tag 'how-it-works/plans/entertainment.jpg' %>
      </article>
      <article id="tutoring">
        <%= image_tag 'how-it-works/plans/tutoring.jpg' %>
      </article>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="testimonials">
  <h1>Monthlys' members find indispensable services that save them time, money and are down right awesome.</h1>
  <div class="wrapper">
    <div class="written">
      <blockquote><span class="bubble"></span>&quot;Simply put, Monthlys changes the way I manage subscriptions and services. It frees me up from exhausting tasks that keep me from enjoying my free time.&quot;</blockquote>
      <%= image_tag 'how-it-works/scott-mcloving.png' %>
      <p class="name">Maggie Jackson</p>
      <p class="member">Member since February 2012</p>
    </div>
    <div class="video">
      <a class="modal-video" href="//www.youtube.com/embed/_cD59GNsF-4?autoplay=1&showinfo=0">
        <%= image_tag 'how-it-works/testimonials-video1.png', class: 'video1' %>
      </a>
      <a class="modal-video" href="//www.youtube.com/embed/jYuBJpN1Kms?autoplay=1&showinfo=0">
        <%= image_tag 'how-it-works/testimonials-video2.png', class: 'video2' %>
      </a>
      <a class="modal-video" href="//www.youtube.com/embed/s1Qij3P0M7s?autoplay=1&showinfo=0">
        <%= image_tag 'how-it-works/testimonials-video3.png', class: 'video3' %>
      </a>
      <a class="modal-video" href="//www.youtube.com/embed/zcwRDYnleg8?autoplay=1&showinfo=0">
        <%= image_tag 'how-it-works/testimonials-video4.png', class: 'video4' %>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<% content_for(:javascript) do %>
  <%= requirejs('pages/how_it_works') %>
<% end %>
