<section class="features">
  <h1>Take a look at our features</h1>
  <ul>
    <li><figcaption>Create a Visual Wizard</figcaption> <figure> <%=  image_tag 'business/features/4.png' %>   </figure> </li>
    <li><figcaption>Add Multiple Option Trees</figcaption> <figure> <%=  image_tag 'business/features/2.png' %>    </figure> </li>
    <li><figcaption>Manage Subscribers</figcaption> <figure> <%=  image_tag 'business/features/8.png' %>   </figure> </li>
    <li><figcaption>Create Multiple Plans</figcaption>  <figure> <%= image_tag 'business/features/1.png' %> </figure></li>
    <li><figcaption>Gifting and Promotions</figcaption> <figure> <%=  image_tag 'business/features/5.png' %>   </figure> </li>
    <li><figcaption>Cross Platform</figcaption> <figure> <%=  image_tag 'business/features/6.png' %>   </figure> </li>
    <li><figcaption>Target Zip Codes, Cities or States</figcaption>  <figure> <%=  image_tag 'business/features/3.png' %>  </figure> </li>  
    
    
    <li><figcaption>Create Coupons</figcaption> <figure> <%=  image_tag 'business/features/9.png' %>   </figure> </li>
    <li><figcaption>Offer Volume Discounts</figcaption> <figure> <%=  image_tag 'business/features/10.png' %>   </figure> </li>
    <li><figcaption>Manage Policies</figcaption> <figure> <%= image_tag 'business/features/11.png'  %>  </figure> </li>
    <li><figcaption>Build a Community</figcaption> <figure> <%= image_tag 'business/features/12.png'  %>  </figure> </li>   
    <li><figcaption>Built-in Customer Support</figcaption> <figure> <%=  image_tag 'business/features/7.png' %>   </figure> </li>
                     
  </ul>
  <div class="clearfix"></div>
</section>