<section class="services">

  <ul class="showcase">
    
    <li>
      <figure>
        <iframe src="http://www.youtube.com/embed/H1SG2FKMX7k?autoplay=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        <%= image_tag 'business/merchant-play.png', width: 720 %>
        <figcaption>Shana Price and Allison Denny use Monthlys to share their creativity and products with more people.</figcaption>
        <a href="" class="play">Play</a>
      </figure>
    </li>
    <li>
      <figure>
        <iframe src="http://www.youtube.com/embed/Vf0hbln_e8U?autoplay=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        <%= image_tag 'business/merchant-play.png', width: 720 %>
        <figcaption>Alpha Baking and Monthlys team up to deliver fresh bread across the country.</figcaption>
        <a href="" class="play">Play</a>
      </figure>
    </li>
    <li>
      <figure>
        <iframe src="http://www.youtube.com/embed/xp6NXJTKTa0?autoplay=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        <%= image_tag 'business/merchants-video1.png', width: 720 %>
        <figcaption>Peter Asher views Monthlys as a full service extension of their business.</figcaption>
        <a href="" class="play">Play</a>
      </figure>
    </li>
    <li>
      <figure>
        <iframe src="http://www.youtube.com/embed/LOgo7YKJin0?autoplay=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        <%= image_tag 'business/merchants-video1.png', width: 720 %>
        <figcaption>Guitar Cities Chicago looks forward to building a great community of subscribers with Monthlys.com.</figcaption>
        <a href="" class="play">Play</a>
      </figure>
    </li>
    <li>
      <figure>
        <iframe src="http://www.youtube.com/embed/gCD4Nw-tbSU?autoplay=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        <%= image_tag 'business/merchants-video1.png', width: 720 %>
        <figcaption>Dog-a-holics focuses on reaching customers that can't make it to their store often enough.</figcaption>
        <a href="" class="play">Play</a>
      </figure>
    </li>
     <li>
        <figure>
          <iframe src="http://www.youtube.com/embed/9Hr0RuEhS5I?autoplay=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
          <%= image_tag 'business/merchants-video1.png', width: 720 %>
          <figcaption>Little beans uses Monthlys to help generate awareness and sign up parents for it's unique concept.</figcaption>
          <a href="" class="play">Play</a>
        </figure>
      </li>
      <li>
          <figure>
            <iframe src="http://www.youtube.com/embed/O37y03nVdf8?autoplay=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
            <%= image_tag 'business/merchants-video1.png', width: 720 %>
            <figcaption>Chicago cupcake uses Monthlys to get it's extraordinary cupcakes to people routinely.</figcaption>
            <a href="" class="play">Play</a>
          </figure>
        </li>
        
  </ul>

  <div class="categories">
    <ul>
      <li><a href="#">Stems</a></li>
      <li><a href="#">Alpha Baking</a></li>
      <li><a href="#">Peter Asher Coffee</a></li>
      <li><a href="#">Guitar Cities Chicago</a></li>
      <li><a href="#">Dog-a-holics</a></li>
      <li><a href="#">Little Beans Cafe</a></li>
      <li><a href="#">Chicago Cupcake</a></li>
    </ul>
    <a href="/business/categories" class="btn business">View All Merchant Categories</a>
  </div>

  <h1>Merchants and service professionals use Monthlys to strategically grow their business</h1>

  <section>
    <%= image_tag 'business/merchants-box1.png' %>
    <h1>Think Outside the Box</h1>
    <p>Monthlys has created a one stop shop for people to activate subscriptions with the flip-on-a-switch.</p>
  </section>
  <section>
    <%= image_tag 'business/merchants-box2.png' %>
    <h1>Simple to Use</h1>
    <p>Monthlys provides a platform that is simple for both merchants and consumers to use. Monitor your orders with the <a href="/business/platform">Monthlys Dashboard</a>.</p>
  </section>
  <section class="last">
    <%= image_tag 'business/merchants-box3.png' %>
    <h1>Grow Strategically</h1>
    <p>Planned growth is much easier with predictable income. We're helping our merchants maximize their business by:</p>
    <ul>
      <li>Reaching the "brand evangelists"</li>
      <li>Minimizi downtime</li>
      <li>Liquidating surplus inventory</li>
      <li>Building recognition in new regions</li>
    </ul>
  </section>
  <div class="clearfix"></div>
</section>