<section class="tour">
  <h1>Set up your first subscription in minutes. Manage it all with the Monthlys dashboard.</h1>
  <ul>
    <li class="selected"><a href="#">Setup</a></li>
    <li><a href="#">Plan Builder</a></li>
    <li><a href="#">Customize</a></li>
    <li><a href="#">Members</a></li>
    <li><a href="#">Subscriptions</a></li>
    <li><a href="#">Reporting</a></li>
  </ul>
  <div class="flexslider-wrapper">
    <div class="flexslider">
      <ul class="slides">
        <li><%= image_tag 'business/01_setup.png' %></li>
        <li><%= image_tag 'business/05_plan_builder.png' %></li>
        <li><%= image_tag 'business/04_custom_store.png' %></li>
        <li><%= image_tag 'business/03_members.png' %></li>
        <li><%= image_tag 'business/02_subscriptions.png' %></li>
        <li><%= image_tag 'business/06_reports.png' %></li>
      </ul>
    </div>
  </div>
  <p>The Monthlys setup wizard will walk you through everything. It's super easy to understand.</p>
  <p>Use the plan builder to create advanced configuration options and preferences for your subscribers.</p>
  <p>Customize your own subscription site on all platforms. Coming Soon.</p>
  <p>Track and interact with your members, manage support issues and run custom promotions.</p>
  <p>See how your subscriptions are selling.</p>
  <p>View reports and measure your program's progress. Create strategies based on your analysis.</p>
</section>
<div class="below">
  <div class="column">
    <section class="video-popup" data-youtube="//www.youtube.com/embed/Q096-3sKxbA?autoplay=1&showinfo=0">
      <%= image_tag 'business/platform-box1.png' %>
      <h1>Easy to Set Up</h1>
      <p>Define the different frequencies customers can subscribe to your plans and specify your service area.</p>
    </section>
    <section class="small">
      <h1>Full Feature List</h1>
      <p><a href="/business/features">View all Monthlys Features</a></p>
    </section>
  </div>

  <section class="video-popup" data-youtube="//www.youtube.com/embed/7JaViNYmYPM?autoplay=1&showinfo=0">
    <%= image_tag 'business/platform-box2.png' %>
    <h1>Offer Customization Options</h1>
    <p>Use the options builder to create advanced subscriptions, where members can select their preferences, browse add-ons and choose one-time services.</p>
  </section>
  
  <section class="last">
    <img src="/assets/business/platform-box3.png" class="video-popup" data-youtube="//www.youtube.com/embed/Q096-3sKxbA?autoplay=1&showinfo=0" />
    <h1>Developer API</h1>
    <p>Pass your inventory information in real-time to Monthlys and/or fetch your member and subscription info using our developer API.</p>
    <a href="/business/developers" class="btn business">Developer Center</a>
  </section>
  
  <div class="clearfix"></div>
</div>